*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;

    --ff-principal:"Popppins",sans-serif;

    --text-color:#303030;
    --hue:194;
    --primary-color:hsl(var(--hue),100%,63%);
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width:0 ;
}
body{
    font-size: 1.6rem;
    background-color: rgb(212, 241, 241);
    color: var(--text-color);
}

body *{
    font-family: var(--ff-principal);
}

#app{
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
}
header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin: 2.5rem 0 ;
}
header h1 {
    font-size: 2rem;
    text-transform: uppercase;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    height: 3.2rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem 0 0 0.4rem;
    padding: 0 0.8rem;
}
.search button{
    background-color: var(--primary-color);
    height: 3.2rem;
    border: none;
    border-radius: 0 0.4rem 0.4rem 0;
    padding: 0 1rem;
}

.search button:hover{
    filter: brightness(1.1);
    cursor: pointer;
}
table{
    width: 100%;
    border-collapse:collapse ;

    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
table *{
   font-size: 1.4rem;
   color: var(--text-color);
}
table th{
    background-color: var(--primary-color);
    text-align: left;
    font-weight: 400;
    padding: 1.5rem;
}
table th:first-child{
    border-radius: 0.4rem 0 0 0 ;
}
table th:last-child{
    border-radius: 0 0.4rem 0 0;
}
td.user img{
    height: 5rem;    
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
table td{
    padding: 1.5rem;
}
table tr:nth-child(odd){
    background-color: rgb(216, 210, 210);
}
table tr:nth-child(even){
    background-color: rgb(247, 240, 240);
}

td .remove{
    background: none;
    border: none;

    color: red;
    cursor: pointer;
}

td.user{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
td.user a{
    text-decoration: none;
}
td.user p{
    font-weight: 700;
}